.row{
    margin-bottom: 20px;
}


#carouselExample img{
    width: 50px;
    height: 400px;
    
}
.card, ul{
   vertical-align: middle;
}



@media (max-width: 600px) {

    ul, ol, footer {
    list-style-position: inside;
      text-align: center;
    }
  }